<!-- Ryan Tibbo
 QAP - Math Comp
 October 15th, 2024 -->

 <%- include('partials/header') %>
    <main class="main-content index_container">
        <h1>Welcome to the Math Competition App</h1>
        <div class="navigation__container">
            <% if (streak > 0) { %>
        <p class="streak">Your current streak: <%= streak %></p>
    <% } %>
            <a href="/leaderboards">
                View Leaderboards
            </a>
            <a href="/quiz">
                Start Quiz
            </a>
        </div>
    </main>
</body>
</html>
